<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
    <nav>
        <ul>
            <li><a href="{% url 'login' %}">Login</a></li>
        </ul>
    </nav>
</header>
<body>
    <main>
        <div>
            <h1>Sign Up</h1>
            <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Signup</button>
            </form>
        </div>
    </main>
</body>
</html>
